{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="post block">
        <h2 class="subtitle">{{ post.title }}</h2>


        <small>Post at {{ post.date_added }}</small>

        <p>{{ post.intro }}</p>

        <a href="{% url 'post_detail' post.slug %}">Read more</a>
    </div>
    {% endfor %}
{% endblock %}